/* ### Reset #### */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
	/*font-family: 'Open Sans', sans-serif;*/
  font-family: "Jura", sans-serif;
}

/* GRID LAYOUT */

.grid-container {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 0.3fr 8fr 0.5fr;
  grid-template-areas: "header header" 
                        "main  aside" 
                        "footer footer";
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

body {
  font-weight: 500;
	font-size: 18px;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  color: #00284c;
}

h1 {
  font-size: 1.8em;
  padding: 6px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  width: 450px;
  margin-bottom: 5px;
  background-color: #f0ff2218;
}


/* #### HEADER #### */
header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
}
.menu-nav
{
  flex-grow: 2;
  align-self: center;
}
.navlink {
  margin-left: 30px;
  font-weight: 600;  
}
.navlink:hover {
  text-decoration: underline;
}
a:visited {
  color: #00284c;
}
.logo-app-page {
  width: 50px;
  height: auto;
}
.location-pin {
  width:20px;
  height: auto;
}
/* #### MAIN #### */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-top: 1px solid #f0ff22a8;
  border-left: 1px solid #f0ff22a8;
  border-bottom: 1px solid #f0ff22a8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 25px;
}
.title-app{
  font-size: 2.5em;
  font-weight:700;
  text-shadow: 0 0 18px #cac6c3f5;
}

.logo-app-page {
  width: 50px;
  height: auto;
}

.inputgeo {
  width: 120px;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #dff2ff;
  border-radius: 20px;
  font-size: 1.3em;
  margin-left: 20px;
  background-color: transparent;
  transition: border-color 0.6s, box-shadow 0.6s, background-color 0.6s; /* Transiciones */
  color: #f0ff22a8;
  font-weight: 700;
}
.inputgeo::placeholder {
  color: #f0ff2260;
}
.inputgeo:focus {
  border-color: #285b97;
  box-shadow: 0 0 10px rgba(78, 87, 84, 0.671);
  outline: none;
}
.convert-container {
  margin-top: 20px;
}
.convert-container label {
  background-color:#ff7e2249;
}
.btn-convert {
  width: 150px;
  padding: 10px;
  border: 1px solid #dff2ff;
  color: #dff2ff;
  border-radius: 20px;
  font-size: 1em;
  background-color: transparent;
  transition: border-color 0.6s, box-shadow 0.6s, background-color 0.6s; /* Transiciones */  
}

.btn-convert:hover {
  background-color: #ff7e22be;
  color:#dff2ff;
}
.resultplanas {
  margin-top: 30px;
  border-top: 2px solid #ff7e22be;
}
.coordplanas {
  width: 1100px;
  height: 160px;
  resize: none;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #dff2ff;
  border-radius: 20px;
  font-size: 1.1em;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  color:#dff2ff;
  transition: border-color 0.6s, box-shadow 0.6s, background-color 0.6s; /* Transiciones */
  color: #f0ff22a8;
  font-weight: 700;
}
.coordplanas:focus {
  border-color: #285b97;
  box-shadow: 0 0 10px rgba(78, 87, 84, 0.671);
  outline: none;
}

/* ### ASIDE ### */
.ayuda {
  font-size: 0.9em;
  border: 2px solid #ff7e22b7;
  border-radius: 15px;
	width: auto;
  height: auto;
	margin: 1em;
  padding: 1em;
  text-align: center;
  font-weight: 600;
}
aside {
  grid-area: aside;  
  border-top: 1px solid #f0ff22a8;
  border-right: 1px solid #f0ff22a8;
  border-bottom: 1px solid #f0ff22a8;
  /*border-left: 1px solid #f0ff22a8;*/
  border-bottom-right-radius: 25px;
  justify-content: end;
}
.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

/* #### FOOTER #### */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  color: #dff2ff;
  font-weight: 100;
}
